{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="flex bg-white p-6 rounded-lg shadow-md">
    <div class="w-1/3 flex justify-center items-center">
       <img  src="{{book.image.url}}" alt="Book"width="300" height="300">
    </div>
    <div class="w-2/3">
        <h2 class="text-xl font-bold mb-4">{{book.title}}</h2>
        <p>{{book.description}}</p>
        <p class="my-3">Price: <strong>${{book.price}}</strong></p>
        {% comment %} <p>Category: <strong>{{book.category}}</strong></p> {% endcomment %}
        <a href="{% url "borrow_book" book.id %}" class="btn btn-primary my-4">Borrow Book</a>
    </div>
</div>
</div>

<div class="card m-2">
    <h5 class="p-3">Total Review : {{comments | length}}</h5>
    {% for comment in comments %}
  <div class="card-body border m-2">
        <p><b>{{comment.name}}</b> {{comment.created_on}}</p>
        <p>{{comment.comment}}</p>
    </div>
    {% endfor %}
</div>
<div class="card m-2">
    <div class="card-body">
        <form method="post">
            <h1>Add Review</h1>
            {% csrf_token %}
            {{comment_form | crispy}}
            <button class="btn btn-warning">Submit</button>
    </div>
</div>
{% endblock %}